USE [master]
GO
/****** Object:  Database [CPahcecoPruebaAutorLibro]    Script Date: 21/1/2026 10:39:41 ******/
CREATE DATABASE [CPahcecoPruebaAutorLibro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPahcecoPruebaAutorLibro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CPahcecoPruebaAutorLibro.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CPahcecoPruebaAutorLibro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CPahcecoPruebaAutorLibro_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPahcecoPruebaAutorLibro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPahcecoPruebaAutorLibro]
GO
/****** Object:  StoredProcedure [dbo].[DeleteByAutor]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteByAutor]
@IdAutor INT
AS
BEGIN 
	DELETE Libro
	WHERE IdAutor = @IdAutor
	
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteByEditorial]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteByEditorial]
@IdEditorial INT
AS
BEGIN 
	DELETE FROM Libro 
	WHERE IdEditorial = @IdEditorial
END
GO
/****** Object:  StoredProcedure [dbo].[GetById]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetById]
@IdLibro INT
AS
BEGIN
	SELECT Libro.IdLibro, Libro.Titulo, Libro.FechaPublicacion, Autor.IdAutor,
           Autor.Nombre AS AutorNombre, Editorial.IdEditorial,Editorial.Nombre AS EditorialNombre,Autor.Apellido
    FROM Libro 
    INNER JOIN Editorial  ON Editorial.IdEditorial = Libro.IdEditorial
    INNER JOIN Autor ON Autor.IdAutor = Libro.IdAutor
	WHERE IdLibro = @IdLibro
END
GO
/****** Object:  StoredProcedure [dbo].[LibroAdd]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroAdd]
@Titulo NVARCHAR (50),
@FechaPublicacion DATE,
@IdEditorial INT,
@IdAutor INT
AS
BEGIN
	INSERT INTO Libro  (Titulo,FechaPublicacion,IdEditorial,IdAutor)
	VALUES (@Titulo,@FechaPublicacion,@IdEditorial,@IdAutor)
END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetAll]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetAll]
  @Titulo NVARCHAR(50) = NULL,
    @Year INT = NULL,
    @IdEditorial INT = NULL,
    @IdAutor INT = NULL
AS
BEGIN
    SELECT Libro.IdLibro, Libro.Titulo, Libro.FechaPublicacion, Autor.IdAutor,
           Autor.Nombre AS AutorNombre, Editorial.IdEditorial,Editorial.Nombre AS EditorialNombre,Autor.Apellido
    FROM Libro 
    INNER JOIN Editorial  ON Editorial.IdEditorial = Libro.IdEditorial
    INNER JOIN Autor ON Autor.IdAutor = Libro.IdAutor
    WHERE (@Titulo IS NULL OR Libro.Titulo LIKE '%' + @Titulo + '%')
      AND (@Year IS NULL OR YEAR(Libro.FechaPublicacion) = @Year)
      AND (@IdEditorial IS NULL OR Libro.IdEditorial = @IdEditorial)
      AND (@IdAutor IS NULL OR Autor.IdAutor = @IdAutor)
END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetByAutor]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetByAutor]
@Nombre NVARCHAR (50)
AS
BEGIN
	SELECT Libro.Titulo , Libro.FechaPublicacion
FROM Libro 
INNER JOIN AutorLibro ON Libro.IdLibro = AutorLibro.IdLibro
INNER JOIN Autor ON AutorLibro.IdAutor = Autor.IdAutor WHERE Autor.Nombre = @Nombre
END
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libro]    Script Date: 21/1/2026 10:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[FechaPublicacion] [date] NOT NULL,
	[IdEditorial] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido]) VALUES (1, N'Gabriel', N'Garcia Marquez')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido]) VALUES (2, N'Mario', N'Vargas Llosa')
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [Apellido]) VALUES (3, N'Isabel', N'Allende')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (1, N'Editorial Sudamericana')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (2, N'Alfaguara')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (3, N'Planeta')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial], [IdAutor]) VALUES (12, N'Crónica de una muerte anunciada', CAST(0xEC080B00 AS Date), 1, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial], [IdAutor]) VALUES (13, N'Conversación en La Catedral', CAST(0xCDF70A00 AS Date), 2, 2)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [FechaPublicacion], [IdEditorial], [IdAutor]) VALUES (14, N'Paula', CAST(0x781B0B00 AS Date), 3, 3)
SET IDENTITY_INSERT [dbo].[Libro] OFF
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Autor]
GO
USE [master]
GO
